<p id="notice"><%= notice %></p>

<h1>Profiles</h1>

<% @profiles.each do |profile| %>
  <figure style="display: inline-block; width: 32%; height: 500px; overflow: hidden;"> 
    <% if profile.photo_url(:thumb) %> 
      <%= image_tag profile.photo_url(:thumb), style: "width: 100px;" %>
    <% end %>
    <p><%= profile.first_name %> <%= profile.last_name %></p>
    <p>Dob: <%= profile.date_of_birth %></p>
    <p><%= profile.city %> <%= profile.country %></p>
    <p>Mobile: <%= profile.contact_number %></p>
    <p><%= profile.bio %></p>
    <%= link_to 'Show', profile %>
    <%= link_to 'Edit', edit_profile_path(profile) %>
    <%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %>
  </figure>  
<% end %>


<br>

<%= link_to 'New Profile', new_profile_path %>
