<!-- <p id="notice"><%#= notice %></p> -->

<section class="row profile_header">
  <div class="col row profile_info">
    <div class="col profile_photo" style="<%= style_backgound_image(@profile.photo_url(:thumb)) unless @profile.nil? %>">
      <!-- <% if @profile.photo_url(:original) %>
        <%= image_tag @profile.photo_url(:original) %>
      <% end %> -->
    </div>
    <div class="col profile_name">
      <h1><%= "#{@profile.full_name}" %></h1>
    </div>
  </div>
</section>

<section class="row main">
    <div class="col have">
        <div class="items_block">
            <h3>Things I own</h3>
            <% @no_trade_owned_products.each do |item| %>
                <div class="row item">
                    <div class="col-2 item_photo"></div>
                    <div class="col item_description">
                        <h4><%= item.name %></h4>
                    </div>
                </div>
            <% end %>
        </div>

        <div class="items_block">
            <h3>Skills/Experiences I am good at</h3>
            <% @no_trade_owned_skills.each do |item| %>
                <div class="row item">
                    <div class="col-2 item_photo"></div>
                    <div class="col item_description">
                        <h4><%= item.name %></h4>
                    </div>
                </div>
            <% end %>
        </div>

        <div class="items_block">
            <h3>Things/Skills I can provide</h3>
            <% @trade_owned_products_or_skills.each do |item| %>
                <div class="row item">
                    <div class="col-2 item_photo"></div>
                    <div class="col item_description">
                        <h4><%= item.name %></h4>
                    </div>
                </div>
            <% end %>
        </div>
    </div>

    <div class="col want">
        <div class="items_block">
            <h3>Things I want</h3>
            <% @trade_wanted_skills.each do |item| %>
                <div class="row item">
                    <div class="col-2 item_photo"></div>
                    <div class="col item_description">
                        <h4><%= item.name%></h4>
                    </div>
                </div>
            <% end %>
        </div>

        <div class="items_block">
            <h3>Skills/Experiences I am looking for</h3>
            <% @trade_wanted_skills.each do |item| %>
                <div class="row item">
                    <div class="col-2 item_photo"></div>
                    <div class="col item_description">
                        <h4><%= item.name%></h4>
                    </div>
                </div>
            <% end %>
        </div>

        <div class="items_block">
            <h3>Things/Skills I need</h3>
            <% @trade_wanted_products.each do |item| %>
                <div class="row item">
                    <div class="col-2 item_photo"></div>
                    <div class="col item_description">
                        <h4><%= item.name %></h4>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
  </section>
