<%= form_with(model: listing, local: true) do |form| %>
  <% if listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label "Short title for your new listing" %>
    <%= form.text_field :name, id: :listing_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Description for your new listing" %>
    <%= form.text_area :description, id: :listing_description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Price" %>
    <%= form.text_field :price, id: :listing_price, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :photo %>
    <%= form.file_field :photo, id: :listing_photo, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :category_id %>
    <%= form.select :category_id, ['products', 'skills'], id: :listing_category_id, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Is this an item you own or want to have?" %>
    <%= form.select :status, [1, 0], id: :listing_status, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Is this an item you own or want to have?" %>
    <%= form.select :item_type, ['trade', 'no-trade'], id: :listing_item_type, class: "form-control" %>
  </div>

  <%= form.submit class: "btn btn-primary"%>
<% end %>
