<section class="row main">
  <div class="search" style="z-index: 10;">
    <%= form_tag(@listing, method: "get") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
      <%= submit_tag "Search" %>
    <% end %>
  </div>
  <div class="col listing">
      <div class="items_block">
          <% if @listings %>
            <h3>Things you may be interested in</h3>
              <% @listings.each do |listing| %>
              <a href="<%= listing_path(listing) %>">
                <div class="d-flex flex-wrap item">
                    <% if listing.user.profile.photo_url(:thumb) %>
                        <div class="p item_photo" style="<%= style_backgound_image(listing.user.profile.photo_url(:thumb)) %>"></div>
                    <% else %>
                        <div class="p item_photo" style="background-image: url(<%= image_url(listing.image_url)%>);"></div>                
                    <% end %>
                    <div class="p item_description">
                        <h4><%= listing.name %></h4>
                        <p>
                        <%= listing.description %><br>
                        Posted by <%= listing.user.profile.full_name unless listing.user.profile.nil? %>
                        </p>
                    </div>
                </div>
              </a>
              <% end %>
          <% else %>
            <h4>There are no listigs containing the term <%= params[:search] %>.</h4>
          <% end %>
      </div>

  </div>
</section>


<!-- <p id="notice"><%#= notice %></p> -->

<!-- <h1>Listings</h1> -->


<%# @listings.each do |listing| %>
  <%# if photo_url = listing.user.profile.photo_url(:thumb) %>
  <%#= image_tag photo_url %>
  <%# end %>
  <%#= listing.user.profile.first_name %> <%# listing.user.profile.first_name %>
  <%#= listing.name %>
  <%#= listing.description %>
  <%#= listing.price %>
  <%# if listing.photo_url(:thumb) %>
  <%#= image_tag listing.photo_url(:thumb) %>
  <%# end %>
  <%#= link_to 'Show', listing %>
  <%#= link_to 'Edit', edit_listing_path(listing) %>
  <%#= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%# end %>


  <%#= link_to 'New Listing', new_listing_path %>
