<p id="notice"><%= notice %></p>

<h1>Listings</h1>

<% if current_user.nil? %>
  <table>
  <thead>
    <tr>
      <th>User</th>
      <th>Item</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <% if photo_url = listing.user.profile.photo_url(:thumb) %>
          <td><%= image_tag photo_url %></td>
        <% end %>
        <td><%= listing.user.profile.first_name %> <% listing.user.profile.first_name %></td>
        <td><%= listing.name %></td>
        <td><%= listing.description %></td>
        <td><%= listing.price %></td>
        <% if listing.photo_url(:thumb) %>
          <td><%= image_tag listing.photo_url(:thumb) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% else %>
  <table>
  <thead>
    <tr>
      <th>User</th>
      <th>Item</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <% if photo_url = listing.user.profile.photo_url(:thumb) %>
          <td><%= image_tag photo_url %></td>
        <% end %>
        <td><%= listing.user.profile.first_name %> <% listing.user.profile.first_name %></td>
        <td><%= listing.name %></td>
        <td><%= listing.description %></td>
        <td><%= listing.price %></td>
        <% if listing.photo_url(:thumb) %>
          <td><%= image_tag listing.photo_url(:thumb) %></td>
        <% end %>
        <td><%= link_to 'Show', listing %></td>
        <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
        <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Listing', new_listing_path %>


<% end %>
