<!DOCTYPE html>
<html>
  <head>
    <title>CaHackathonProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="d-flex justify-content-between">
      <div class="left-nav">
        <ul>
          <li><a href="/">Listings</a></li>
          <% if current_user %>
            <li><%= link_to 'My Profile', current_user.profile %></li>
          <% end %>
          <li><a href="#">Messages</a></li>
        </ul> 
      </div>
      <div class="right-nav">
        <% if user_signed_in? %> 
          <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
        <% else %>
          <a href="/users/sign_up">Sign Up</a>
          <a href="/users/sign_in">Log In</a>
        <% end %>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    <div class="container">
  </body>
</html>
