<!DOCTYPE html>
<html>
  <head>
    <title>Flotsy</title>
    <%= csrf_meta_tags %>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Raleway:300,400" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <section class="row header">
      <div class="col header_title">
          <a href="/"><h1>Flotsy</h1></a>
      </div>
      <div class="col-4 navigation">
          <%# if current_user %>
          <%# end %>
          <% if user_signed_in? %> 
            <%= link_to 'My Profile', profile_path(current_user.profile.id) unless current_user.profile.nil? %> | 
            <%= link_to 'Messages', conversations_path %> | 
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
          <% else %>
            <a href="/users/sign_up">Sign Up</a> | 
            <a href="/users/sign_in">Log In</a>
          <% end %>
      </div>
    </section>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
